/* Definición de la fuente personalizada */
@font-face {
    font-family: 'MiFuente';  /* Nombre de la fuente personalizada */
    src: url('imagenes/Ubuntu-Regular.ttf') format('truetype'); /* Ruta de la fuente personalizada en formato truetype */
}

/* Estilos globales para todos los elementos */
* {
    margin: 0;            /* Eliminar margen en todos los elementos */
    padding: 0;           /* Eliminar padding en todos los elementos */
    box-sizing: border-box; /* Incluir bordes y padding en el cálculo del tamaño */
}

/* Variables CSS para colores y medidas */
:root {
    --color-fondo-principal: #000000;     /* Color de fondo principal */
    --color-texto-principal: #ffffff;     /* Color de texto principal */
    --color-primario: #99E89D;            /* Color primario */
    --color-secundario: #006633;          /* Color secundario */
    --color-terciario: #4DA768;           /* Color terciario */
    --color-acento-1: #26874E;            /* Color de acento 1 */
    --color-acento-2: #257236;            /* Color de acento 2 */
    --color-resaltado: #3BC975;           /* Color de resaltado */
    --padding: 30px;                      /* Padding común */
    --paddin-button: 10px;                /* Padding para botones */
    --margin-top: 30px;                   /* Margen superior */
}

/* Estilos generales del cuerpo del documento */
body {
    background-image: url('../imagenes/fondo de kiwi.svg'); /* Imagen de fondo */
    background-repeat: no-repeat; /* No repetir el fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    font-family: 'MiFuente';        /* Fuente personalizada */
}

/*PARTE DEL MENU DE NAVEGACION*/

.navbar {
    max-width: 100vw;
    display: flex;                          /* Mostrar como flexbox */
    align-items: center;                    /* Centrar elementos verticalmente */
    justify-content: space-between;         /* Espacio entre elementos */
    background-color: var(--color-primario); /* Color de fondo */
    padding: 18px 30px;                     /* Padding interno */
    flex-wrap: wrap;                        /* Permitir envolver elementos en pantalla pequeña */
}

.negrita {
    font-weight: bold;  /* Define el texto en negrita */
    font-size: 16px;    /* Establece el tamaño de la fuente a 16 píxeles */
}

.navbar__logo img {
    height: 40px; /* Altura del logo */
}

.navbar__contenedor {
    display: flex;                         /* Mostrar como flexbox */
    flex-direction: column;                /* Dirección de columna para el contenido */
    color: var(--color-fondo-principal);   /* Color de texto */
}

.navbar__title {
    font-size: 16px; /* Tamaño del título */
}

.navbar__subtitle {
    font-size: 11px; /* Tamaño del subtítulo */
}

.navbar__link,
.menu__toggle {
    color: var(--color-fondo-principal); /* Color del enlace */
    padding: 14px 20px; /* Padding del enlace */
    font-size: 16px; /* Tamaño de fuente del enlace */
    text-decoration: none; /* Sin decoración de texto */
    font-weight: bold; /* Peso de la fuente */
}

.nav-link:hover,
.menu__toggle:hover {
    color: var(--color-acento-1); /* Color al pasar el mouse */
}

.navbar__link:active,
.menu__toggle:active {
    color: var(--color-secundario);         /* Color al hacer clic */
    text-decoration: underline solid;       /* Subrayado sólido al hacer clic */
}

/* Menú desplegable */
.menu {
    position: relative;                     /* Posición relativa */
    display: inline-block;                  /* Mostrar como bloque en línea */
}

.menu__container {
    display: none;                          /* Ocultar contenedor por defecto */
    position: absolute;                     /* Posición absoluta */
    top: 100%;                              /* Alinear en la parte inferior del elemento padre */
    left: 0;                                /* Alinear a la izquierda */
    background-color: var(--color-secundario); /* Color de fondo del menú */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1;                             /* Índice de apilamiento */
    text-align: left;                       /* Alinear texto a la izquierda */
}

.menu__container h2 {
    color: var(--color-texto-principal); /* Color del título */
    margin: 10px; /* Margen */
}

.menu__link {
    color: var(--color-texto-principal); /* Color del enlace */
    padding: 12px 16px; /* Padding del enlace */
    text-decoration: none; /* Sin decoración de texto */
    display: block; /* Bloque de visualización */
}

.menu__link:hover {
    background-color: var(--color-terciario); /* Color de fondo al pasar el mouse */
}

.menu__link:active {
    background-color: var(--color-acento-2); /* Color de fondo al hacer clic */
}

.menu__toggle:hover + .menu__container,
.menu__container:hover {
    display: block; /* Mostrar menú al pasar el mouse */
}

.menu__vector {
    margin: 10px; /* Margen */
}

.menu__heading {
    margin: 10px 0; /* Margen superior e inferior */
}

/* Estilos para el menú desplegable */

li .dropdown-item:hover {
    background-color: var(--color-primario);  /* Color de fondo al pasar el mouse */
}

li .dropdown-item:active {
    background-color: var(--color-resaltado); /* Color de fondo al hacer clic */
}

/* Estilos para los botones */

.btn.btn-light.button.d-flex.align-items-center:hover {
    background-color: var(--color-terciario); /* Color de fondo al pasar el mouse */
    border: none;                            /* Elimina el borde */
}

.btn.btn-light.button.d-flex.align-items-center:active {
    background-color: var(--color-acento-1); /* Color de fondo al hacer clic */
    border: none;                            /* Elimina el borde */
}


/*PARTE DE LA SECCION PRINCIPAL DE LA PAGINA*/

.contenedor__fondo {
    min-height: 350px; /* Altura mínima del fondo */
}

.contenedor__dentro {
    display: flex; /* Establece el contenedor como flex */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    max-width: 1700px; /* Ancho máximo del contenido dentro del fondo */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 20px; /* Ajuste de padding para separación interna */
    gap: 50px; /* Espacio entre elementos */
    margin-top: 120px; /* Separación superior */
    background: rgba(255, 255, 255, 0.7); /* Fondo blanco con opacidad */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra del contenedor */
}

.contenedor__logo {
    text-align: center; /* Alinear el logo al centro */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

.contenedor__titulo {
    font-size: 60px; /* Tamaño de fuente para el título */
    text-align: center; /* Alinear el título al centro */
    margin-bottom: 10px; /* Espacio inferior para separación */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

.contenedor__subtitulo {
    font-size: 18px; /* Tamaño de fuente para el subtítulo */
    text-align: center; /* Alinear el subtítulo al centro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

/* PARTE DE LA SECCION DEL FORMULARIO PARA ENVIAR EL MENSAJE */

.contenedor__fondo--contacto {
    background: url('../imagenes/fondo de contacto.svg') no-repeat center/cover; /* Imagen de fondo ajustada */
    height: 1600px; /* Altura deseada del contenedor */
    display: flex; /* Establece el contenedor como flex */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
}

.contenedor__seccion--dentro {
    width: 1500px; /* Ancho máximo del contenido dentro del fondo */
    height: 1300px; /* Altura del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
    padding: 20px; /* Ajuste de padding para separación interna */
    gap: 50px; /* Espacio entre elementos */
    margin-top: 120px; /* Separación superior */
    background-color: rgba(0, 0, 0, 0.2); /* Fondo negro con opacidad */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra del contenedor */
    margin-top: -20px; /* Ajuste adicional de la separación superior */
}

.titulo__seccion {
    text-align: center; /* Centrar el texto */
    font-size: 64px; /* Tamaño de la fuente */
    color: var(--color-acento-2); /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Sombra del texto */
    margin-top: 50px; /* Separación superior */
}

.contenedor__contacto {
    display: flex; /* Establece el contenedor como flex */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    gap: 200px; /* Espacio entre los elementos hijos */
    padding: 20px; /* Espaciado interno */
    flex-wrap: wrap;
}

.primero {
    display: flex; /* Establece el contenedor como flex */
    flex-direction: column; /* Dirección del flujo de los elementos */
    align-items: center; /* Centrar contenido horizontalmente */
    text-align: center; /* Centrar el texto */
}

.primero__texto--logo {
    display: flex; /* Establece el contenedor como flex */
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    gap: 10px; /* Espacio entre los elementos hijos */
}

.primero__texto--logo img {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: -20px; /* Ajuste superior de la imagen */
}

.titulo {
    font-size: 25px; /* Tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

.texto {
    font-size: 18px; /* Tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra del texto */
}

.contenedor__linea {
    width: 1000px; /* Ajusta el ancho de la línea */
    height: 5px; /* Ajusta el grosor de la línea */
    background-color: var(--color-acento-2); /* Color de la línea */
    margin: 20px auto; /* Espaciado superior e inferior, centrar horizontalmente */
    margin-top: 50px; /* Separación superior adicional */
}

.formulario__grupo {
    display: flex; /* Mostrar como flexbox */
    flex-direction: column; /* Cambiar la dirección de los elementos a columna */
    justify-content: center; /* Justificar contenido al centro verticalmente */
    height: 100px; /* Altura específica para el contenedor */
    margin-bottom: 40px; /* Espacio inferior de 40 píxeles */
}

.formulario {
    /* Estilos del formulario */
    padding: var(--padding);      /* Espaciado interno definido por la variable --padding */
    width: auto;                  /* Ancho automático que se ajusta al contenido */
    display: flex;                /* Utiliza Flexbox para el diseño */
    justify-content: center;      /* Centra los elementos dentro del formulario horizontalmente */
}

.form__label {
    display: flex; /* Mostrar como flexbox */
    justify-content: flex-start; /* Justificar contenido al inicio horizontalmente */
    align-items: center; /* Alinear ítems al centro verticalmente */
    margin-top: 70px; /* Margen superior de 70 píxeles */
    margin-bottom: 5px; /* Margen inferior de 5 píxeles */
    color: var(--color-terciario); /* Color terciario definido por variable */
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para inputs y botones */
.form__input {
    display: block; /* Bloque de visualización */
    width: 100%; /* Ancho calculado con margen */
    min-height: 50px; /* Altura mínima */
    padding: var(--paddin-button); /* Padding */
    border: 1px solid #ccc; /* Borde */
    border-radius: 15px; /* Radio del borde */
    margin: 10px auto; /* Margen automático */
    margin-bottom: 40px; /* Margen inferior */
}

.form__input::placeholder {
    color: rgba(77, 167, 104, 0.5); /* Color del placeholder */
    font-weight: bold; /* Peso de la fuente */
    padding: var(--paddin-button); /* Padding */
}

.form__input:focus {
    outline: none; /* Sin contorno */
}

.form__input:hover {
    border: 2px solid var(--color-acento-1); /* Borde al pasar el mouse */
}

.form__input:active {
    border: 2px solid var(--color-secundario); /* Borde al hacer clic */
}

textarea {
    display: block; /* Bloque de visualización */
    width: 600px; /* Ancho calculado con margen */
    min-height: 60px; /* Altura mínima */
    padding: var(--paddin-button); /* Padding */
    border: 1px solid #ccc; /* Borde */
    margin: 10px auto; /* Margen automático */
    margin-bottom: 80px; /* Margen inferior */
    outline: none; /* Sin contorno */
}

textarea {
    min-height: 150px; /* Altura mínima para textarea */
}

textarea:hover {
    border: 2px solid var(--color-acento-1); /* Borde al pasar el mouse */
}

textarea:active {
    border: 2px solid var(--color-secundario); /* Borde al hacer clic */
}

textarea::placeholder {
    color: rgba(77, 167, 104, 0.5); /* Color del placeholder */
    font-weight: bold; /* Peso de la fuente */
    padding: var(--paddin-button); /* Padding */
}

/* Contenedor para botones de formulario */
.formulario__boton--contenedor {
    display: flex; /* Contenedor flexible */
    justify-content: space-around; /* Justificar espacio alrededor */
    align-items: center; /* Alinear elementos al centro */
    height: 100px; /* Altura */
}

/* Estilos para el botón de enviar */
.boton__boton--submit {
    width: 250px; /* Ancho calculado con margen */
    min-height: 50px; /* Altura mínima */
    background-color: var(--color-texto-principal); /* Color de fondo */
    color: rgba(77, 167, 104, 0.5); /* Color de texto */
    border: 3px solid var(--color-texto-principal); /* Borde */
    border-radius: 15px; /* Radio del borde */
    font-weight: bold; /* Peso de la fuente */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor apuntador */
    padding: 12px 20px; /* Padding */
    text-align: center; /* Alinear texto al centro */
    margin-top: 80px; /* Añade un margen superior de 80 píxeles */
    text-decoration: none; /* Quita la línea debajo del enlace */
}

.boton__boton--submit:hover {
    background-image: linear-gradient(to right, #99E89D, #4DA768); /* Gradiente al pasar el mouse */
    color: rgba(255, 255, 255, 0.5); /* Color de texto al pasar el mouse */
    border: none; /* Quitar el borde */
}

.boton__boton--submit:active {
    background-image: linear-gradient(to right, #3BC975, #006633); /* Gradiente al hacer clic */
    color: rgba(255, 255, 255, 0.5); /* Color de texto al hacer clic */
    border: none; /* Quitar el borde */
}

/*PARTE DE LA SECCION LA INFROMACION DE MEGAPAQUETES*/

.adicional__informacion {
    background-color: var(--color-primario); /* Color de fondo */
    padding: 20px; /* Padding */
    display: flex; /* Contenedor flexible */
    justify-content: center; /* Justificar contenido horizontalmente */
    align-items: center; /* Alinear elementos al centro verticalmente */
    min-height: 100vh; /* Altura mínima de la vista */
}

/* Estilos para el contenido principal */
.adicional__informacion--principal {
    display: grid; /* Contenedor de cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-auto-rows: minmax(100px, auto); /* Altura mínima 100px, tamaño automático */
    gap: 20px; /* Espacio entre columnas y filas */
    padding: 20px; /* Padding */
}

.adicional__informacion--secundario {
    display: flex; /* Contenedor flexible */
    align-items: center; /* Alinear elementos al centro verticalmente */
    gap: 15px; /* Espacio entre elementos */
}

.adicional__informacion--titulo {
    flex: 1; /* Flexibilidad */
}

.adicional__informacion--subtitulo {
    font-size: 14px; /* Tamaño de la fuente */
    color: var(--color-fondo-principal); /* Color de texto */
}

.adicional__informacion--logo img {
    max-width: 60px; /* Ancho máximo */
    height: auto; /* Altura automática */
}

.adicional__informacion--image img {
    max-width: 100%; /* Ancho máximo */
    display: block; /* Bloque de visualización */
    border-radius: 10px; /* Radio del borde */
}

.adicional__informacion--image {
    grid-column: 1; /* Columna 1 */
    grid-row: 2; /* Fila 2 */
}

.adicional__informacion--lista {
    grid-column: 3; /* Columna 3 */
    font-weight: bold; /* Peso de la fuente */
}

.adicional__informacion--info {
    grid-column: 3; /* Columna 3 */
    margin-top: 30px; /* Margen superior */
}

.adicional__informacion--item {
    margin-bottom: 10px; /* Margen inferior */
    color: var(--color-fondo-principal); /* Color de texto */
}

.adicional__informacion--infotexto {
    color: var(--color-fondo-principal); /* Color de texto */
    font-size: 18px; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Margen inferior */
}

.adicional__informacion--contacto {
    display: flex; /* Contenedor flexible */
    flex-direction: column; /* Dirección de columna */
    align-items: start; /* Alinear elementos a la izquierda */
    text-align: center; /* Alinear texto al centro */
    font-weight: bold; /* Peso de la fuente */
}

.adicional__informacion--contactoitem {
    color: var(--color-fondo-principal); /* Color de texto */
    margin-bottom: 5px; /* Margen inferior */
    display: flex; /* Contenedor flexible */
    align-items: center; /* Alinear elementos al centro */
}

.adicional__informacion--contactoitem img {
    margin-right: 10px; /* Margen derecho */
}

.adicional__informacion--compromisotexto1 {
    background-color: var(--color-terciario); /* Color de fondo */
    width: 73%; /* Ancho */
    border-radius: 10px; /* Radio del borde */
    padding: var(--paddin-button); /* Padding */
    color: var(--color-texto-principal); /* Color de texto */
    text-align: start; /* Alinear texto a la izquierda */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
    font-size: 17px; /* Tamaño de la fuente */
}

.adicional__informacion--social {
    display: flex; /* Contenedor flexible */
    flex-direction: column; /* Dirección de columna */
}

.adicional__informacion--compromisotexto {
    color: var(--color-fondo-principal); /* Color de texto */
    font-size: 18px; /* Tamaño de la fuente */
}

.adicional__informacion--socialtexto{
    color: var(--color-fondo-principal); /* Color de texto */
    font-size: 14px; /* Tamaño de la fuente */
}

.adicional__informacion--socialicons {
    display: flex; /* Contenedor flexible */
    flex-direction: row; /* Dirección de fila */
    margin-left: -13px; /* Margen izquierdo negativo */
}

.adicional__informacion--socialicon {
    width: 70px; /* Ancho */
    height: auto; /* Altura automática */
    cursor: pointer; /* Cursor apuntador */
    margin-right: -10px; /* Margen derecho negativo */
}

/* ESTILOS PARA EL PIE DE PAGINA*/
.footer {
    height: 140px; /* Altura */
    background: url('../imagenes/footer.svg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex; /* Contenedor flexible */
    justify-content: center; /* Justificar contenido horizontalmente */
    align-items: center; /* Alinear elementos al centro verticalmente */
}

.footer__parrafo {
    color: var(--color-fondo-principal); /* Color de texto */
    text-align: center; /* Alinear texto al centro */
    font-weight: bold; /* Peso de la fuente */
    font-size: 15px; /* Tamaño de fuente de 15px */
}

/*RESPONSIVE*/

/* Media query para portátiles */
@media (min-width: 769px) and (max-width: 1300px) {
    .contenedor__fondo--contacto{
        background: url("../imagenes/fondo\ de\ la\ pagina\ principal.svg"); /* Imagen de fondo */
        background-repeat: no-repeat; /* No repetir el fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
        height: 1600px; /* Altura fija de 800px */
        padding: 0px; /* Relleno interno */
        margin-top: 20px; /* Margen superior */
    }
}

/*RESPONSIVE*/

/* Media query para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .esconder {
        display: none; /* Ocultar elemento con display none */
        width: 50%; /* Ancho del 50% */
    }
    .botones {
        justify-content: center; /* Justificar contenido al centro horizontalmente */
    }
    .contenedor__dentro{
        display: flex; /* Establece el contenedor como flex */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        max-width: auto; /* Ancho máximo del contenido dentro del fondo */
        margin-top: -1px; /* Margen superior negativa */
    }
    .adicional__informacion--principal {
        display: flex; /* Contenedor de cuadrícula con flexbox */
        align-items: center; /* Alinear elementos al centro verticalmente */
        justify-content: center; /* Justificar contenido al centro horizontalmente */
        flex-wrap: wrap; /* Envolver elementos en múltiples líneas */
        gap: 20px; /* Espacio entre columnas y filas de 20 píxeles */
        padding: 20px; /* Padding de 20 píxeles */
        text-align: center; /* Alinear texto al centro */
    }
    .adicional__informacion--compromisotexto1 {
        width: 100%; /* Ancho del 100% */
        text-align: center; /* Alinear texto al centro */
    }
    .footer{
        height: 100px; /* Altura fija de 100px para el footer */
    }
    .contenedor__contacto {
        display: flex; /* Establece el contenedor como flex */
        justify-content: center; /* Centrar contenido horizontalmente */
        align-items: center; /* Centrar contenido verticalmente */
        gap: 20px; /* Espacio entre los elementos hijos */
        padding: 20px; /* Espaciado interno */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    }
    .contenedor__fondo--contacto{
        background: url("../imagenes/fondo\ de\ la\ pagina\ principal.svg"); /* Imagen de fondo */
        background-repeat: no-repeat; /* No repetir el fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
        height: 1600px; /* Altura fija de 800px */
        padding: 0px; /* Relleno interno */
        margin-top: 20px; /* Margen superior */
    }
    .contenedor__fondo {
        height: 350px; /* Altura del contenedor */
    }
    .contenedor__seccion--dentro {
        width: 750px; /* Ancho máximo del contenido dentro del fondo */
        height: 1300px; /* Altura del contenido */
        padding: 20px; /* Ajuste de padding para separación interna */
    }
    .contenedor__linea{
        width: 90%; /* Ancho del contenedor */
    }
}

/*RESPONSIVE*/

/* Media query para pantallas pequeñas como móviles */
@media (min-width: 300px) and (max-width: 767px) {
    .esconder {
        display: none; /* Ocultar elemento con display none */
        width: 50%; /* Ancho del 50% */
    }
    .botones {
        justify-content: center; /* Justificar contenido al centro horizontalmente */
    }
    .contenedor__dentro{
        display: flex; /* Establece el contenedor como flex */
        flex-direction: column; /* Dirección de columna */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        width: auto; /* Ancho máximo del contenido dentro del fondo */
        margin-top: -5px; /* Margen superior negativo*/
    }
    .contenedor__titulo{
        font-size: 30px; /* Tamaño de fuente de 30px */
        margin-top: -30px; /* Margen superior negativo*/
    }
    .contenedor__subtitulo{
        font-size: 15px; /* Tamaño de fuente de 15px */
    }
    .contenedor__logo{
        margin-top: 50px; /* Margen superior */
    }
    .contenedor__logo img{
        width: 100px; /* Ancho del contenedor */
    }
    .adicional__informacion--principal {
        display: flex; /* Contenedor de cuadrícula con flexbox */
        align-items: center; /* Alinear elementos al centro verticalmente */
        justify-content: center; /* Justificar contenido al centro horizontalmente */
        flex-wrap: wrap; /* Envolver elementos en múltiples líneas */
        gap: 20px; /* Espacio entre columnas y filas de 20 píxeles */
        padding: 20px; /* Padding de 20 píxeles */
        text-align: center; /* Alinear texto al centro */
    }
    .adicional__informacion--compromisotexto1 {
        width: 100%; /* Ancho del 100% */
        text-align: center; /* Alinear texto al centro */
    }
    .footer{
        height: 50px; /* Altura fija de 50px para el footer */
    }
    .contenedor__seccion--dentro {
        width: 100%; /* Ancho máximo del contenido dentro del fondo */
        height: 1500px; /* Altura del contenido */
        padding: 20px; /* Ajuste de padding para separación interna */
    }
    .contenedor__contacto {
        display: flex; /* Establece el contenedor como flex */
        justify-content: center; /* Centrar contenido horizontalmente */
        align-items: center; /* Centrar contenido verticalmente */
        gap: 20px; /* Espacio entre los elementos hijos */
        padding: 20px; /* Espaciado interno */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    }
    .titulo__seccion{
        font-size: 40px; /* Tamaño de fuente de 50px */
    }
    .titulo{
        font-size: 20px; /* Tamaño de fuente de 20px */
    }
    .form__input{
        width: 100%; /* Ancho del contenedor */
    }
    #descripcion{
        width: 350px; /* Ancho del contenedor */
    }
    .contenedor__linea{
        width: 80%; /* Ancho del contenedor */
    }
    .contenedor__fondo {
        height: 400px; /* Altura del contenedor */
        min-width: auto;
    }
    .contenedor__fondo--contacto{
        background: url("../imagenes/fondo\ de\ la\ pagina\ principal.svg"); /* Imagen de fondo */
        background-repeat: no-repeat; /* No repetir el fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
        height: 1600px; /* Altura fija de 1600px */
        padding: 0px; /* Relleno interno */
        margin-top: 20px; /* Margen superior */
    }
}